<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
</head>
<body>
<div class="container">
    <!-- Content here -->
<button  class="btn btn-primary">选择商品分类</button>
<br>
    <br>
<select class="btn btn-secondary">
    <option>--品牌选择--</option>
    {foreach  $arr as  $v}
    <option>{$v.brand_name}</option>
    {/foreach}
</select>
    图片上传:<input type="file" name="img">
</div>

</body>
</html>
<script>

</script>